# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
start.bat

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# webisida
/surfers/webisida/**
!/surfers/webisida/*
!/surfers/webisida/copy/.gitkeep
!/surfers/webisida/proxies.txt

# simple
/surfers/simple/**
!/surfers/simple/*
!/surfers/simple/copy/.gitkeep
!/surfers/simple/proxies.txt

# vipip
/surfers/vipip/**
!/surfers/vipip/*
!/surfers/vipip/copy/.gitkeep
!/surfers/vipip/proxies.txt

# waspace
/surfers/waspace/**
!/surfers/waspace/*
!/surfers/waspace/copy/.gitkeep
!/surfers/waspace/proxies.txt

# jetswap
/surfers/jetswap/**
!/surfers/jetswap/*
!/surfers/jetswap/copy/.gitkeep
!/surfers/jetswap/proxies.txt

# ide
/.idea
